body {background: white;}
.table { 
    border: 1px solid black; 
    width: 100%; 
/*    padding:0.2em;*/
    background-color: white;
    text-align: left;
    }
.header {
    display: flex;
    background-color: grey;
    padding: 0.2em;
    }
.label {
/*    display: inline; */
    width: 33.3%;
    }
.label_collapse {
    display: none;
    }
.row {
    display: flex;
    padding: 0.2em;
    }
.cell {
    width: 33.3%;
    overflow: hidden;
    }
.striped {
    background-color: azure;
    }

@media all and (max-width: 768px) {
.header {
    display: none;
    }
.row {
    margin-bottom: 1em;
    flex-direction: column;
    }
.row:last-child {
    margin-bottom: 0em;
    }
.cell {
    display: block;
    width: 100%;
    }
.label_collapse {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 0.6em;
    background-color: grey;
    overflow: hidden;
    }
.content {
    display: inline-block;
    overflow: hidden;
    }
.striped {
    background-color: white;
    }

}

