body {background: white;}
.table { 
    border: 1px solid black; 
    width: 100%; 
    text-align: left;
    }
.header {
    display: flex;
    padding: 0.2em;
    }
.label_collapse {
    display: none;
    }
.row {
    display: flex;
    padding: 0.2em;
    }
.cell {
    overflow: hidden;
    }
@media all and (max-width: 768px) {
.header {
    display: none;
    }
.row {
    flex-direction: column;
    }
.row:last-child {
    margin-bottom: 0em;
    }
.cell {
    display: block;
    width: 100% !important;
    }
.label_collapse {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 0.6em;
    overflow: hidden;
    }
.content {
    display: inline-block;
    overflow: hidden;
    }
}

